.main-container{
    display: flex;
    border: 1px solid black
}
.dog-info-container{
    display: flex;
    border: 1px solid black;
    background-color: cyan;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
    flex-direction: column;
    height: 30rem;
}
.dog-picture{
    display: flex;
    border:1px solid black;
    border-radius: 6px;
    margin: 3px;
}
.dog-pic-name{
    display: flex;
    margin: 3px;
}
.neutered-btn{
    /* display: flex; */
    align-content: center;
    align-items: center;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; */
}
.dob{
    display: flex;
}.breed-text{
    display: flex;
    flex-direction: column;
}
.first-info{
    /* display: flex; */
    align-content: center;
    align-items: center;
    cursor: pointer;
    /* justify-content: center; */
}
/* .neutered-btn{
    display: flex;
} */